/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

//Typography Styles
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

//Background Gradient
.navbar, .home-callout {
  //Gradient provided by https://twitter.com/_ighosh 
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//Nav Styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #96c93d;
  }
}

// Homepage Styles
.home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 100px;

}

.flash-container{
  position: absolute;
  width: 100%;
}
.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
}

.home-signup-links {
  margin-top: 30px;
}

.s01 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url("../images/Search_001.png");
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.s01 form {
  width: 100%;
  max-width: 1290px;
}

.s01 form legend {
  font-size: 72px;
  line-height: 1;
  color: #fff;
  margin-bottom: 60px;
}

.s01 form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.s01 form .inner-form .input-field {
  margin-right: 30px;
  height: 68px;
}

.s01 form .inner-form .input-field input {
  height: 100%;
  background: #fff;
  border-radius: .5px;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 20px;
}

.s01 form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:-moz-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 20px;
}

.s01 form .inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.s01 form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.s01 form .inner-form .input-field.second-wrap {
  width: 32.77%;
  min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
  width: 180px;
  margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
  height: 100%;
  width: 100%;
  background: #4272d7;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
}

.s01 form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #2d62d3;
}

.features-overview .content-header {
  padding: 78px 0px 48px 0px;
  text-align: center;
}

.section-subtitle, .customer-designation {
  font-weight: normal;
}

.grid-margin {
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .grid-margin {
    margin-bottom: 75px;
  }
}

@media (max-width: 756px) {
  .grid-margin {
    margin-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .grid-margin-lg-0 {
    margin-bottom: 0px;
  }
}

.d-flex {
  display: flex !important;
}

.d-md-flex {
    display: flex !important;
  }
  
.justify-content-center {
  justify-content: center !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.features-overview .features-width {
  flex-basis: 61%;
}

@media (max-width: 767px) {
  .features-overview .features-width {
    flex-basis: 100%;
  }
}

.features-overview .img-icons {
  transition: all 0.4s ease-in-out;
}

.features-overview .img-icons:hover {
  transform: scale(1.1);
}

.py-3 {
  padding-bottom: 1rem !important;
}

.py-3 {
  padding-top: 1rem !important;
}

.text-muted {
  color: #6e6e6e !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
    min-width: 992px !important;
  }
  
@media (max-width: 575px) {
  .container {
    padding: 0px 30px;
  }
}

.features-overview .content-header {
  padding: 78px 0px 48px 0px;
  text-align: center;
}

@media (max-width: 992px) {
  .features-overview .content-header {
    padding: 60px 0px;
  }
}

.features-overview .readmore-link {
  font-size: 13px;
  color: #97a3be;
  font-weight: 500;
  transition: color 0.5s ease-in-out;
}

.features-overview .readmore-link:hover {
  color: #ff0000;
}

.features-overview .features-width {
  flex-basis: 61%;
}

@media (max-width: 767px) {
  .features-overview .features-width {
    flex-basis: 100%;
  }
}

.features-overview .img-icons {
  transition: all 0.4s ease-in-out;
}

.features-overview .img-icons:hover {
  transform: scale(1.1);
}